//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import "components/scrollable-container.scss";
@import "node_modules/@x-govuk/govuk-prototype-components/x-govuk/all";

.app-inset-text---error {
  border-left: 5px solid govuk-colour("red");
  padding: govuk-spacing(1) govuk-spacing(2);
  margin: 0;

  .app-inset-text__value {
    margin-bottom: govuk-spacing(1);
  }

  .app-inset-text__error {
    color: govuk-colour("red");
    font-weight: bold;
  }
}

.app-inset-text---warning {
  border-left: 5px solid govuk-colour("blue");
  padding: govuk-spacing(1) govuk-spacing(2);
  margin: 0;

  .app-inset-text__value {
    margin-bottom: govuk-spacing(1);
  }

  .app-inset-text__warning {
    color: govuk-colour("blue");
    font-weight: bold;
  }
}

.app-tile {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
}

.app-tile--grey {
  border: 1px solid govuk-shade(govuk-colour("dark-grey"), 50%);
  background-color: govuk-tint(govuk-colour("dark-grey"), 90%);
}

.app-tile--green {
  border: 1px solid govuk-shade(govuk-colour("green"), 20%);
  background-color: govuk-tint(govuk-colour("green"), 85%);
}

.app-tile--light-green {
  border: 1px solid govuk-shade(govuk-colour("light-green"), 65%);
  background-color: govuk-tint(govuk-colour("light-green"), 75%);
}

.app-tile--turquoise {
  border: 1px solid govuk-shade(govuk-colour("turquoise"), 60%);
  background-color: govuk-tint(govuk-colour("turquoise"), 80%);
}

.app-tile--blue {
  border: 1px solid govuk-shade(govuk-colour("blue"), 60%);
  background-color: govuk-tint(govuk-colour("blue"), 80%);
}

.app-tile--light-blue {
  border: 1px solid govuk-shade(govuk-colour("blue"), 60%);
  background-color: govuk-tint(govuk-colour("blue"), 90%);
}

.app-tile--purple {
  border: 1px solid govuk-shade(govuk-colour("bright-purple"), 50%);
  background-color: govuk-tint(govuk-colour("bright-purple"), 85%);
}

.app-tile--light-purple {
  border: 1px solid govuk-shade(govuk-colour("light-purple"), 50%);
  background-color: govuk-tint(govuk-colour("light-purple"), 85%);
}

.app-tile--pink {
  border: 1px solid govuk-shade(govuk-colour("pink"), 50%);
  background-color: govuk-tint(govuk-colour("pink"), 85%);
}

.app-tile--red {
  border: 1px solid govuk-shade(govuk-colour("red"), 80%);
  background-color: govuk-tint(govuk-colour("red"), 80%);
}

.app-tile--orange {
  border: 1px solid govuk-shade(govuk-colour("orange"), 55%);
  background-color: govuk-tint(govuk-colour("orange"), 75%);
}

.app-tile--yellow {
  border: 1px solid govuk-shade(govuk-colour("yellow"), 65%);
  background-color: govuk-tint(govuk-colour("yellow"), 85%);
}

.app-tile--brown {
  border: 1px solid govuk-shade(govuk-colour("brown"), 55%);
  background-color: govuk-tint(govuk-colour("brown"), 80%);
}

.app-map {
  height: 500px;
  @include govuk-responsive-margin(6, $direction: "bottom");
}

.js-hidden {
  display: none;
}
