{% extends "layouts/main.html" %}

{% set pageName = 'The file you provided wasn’t readable' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p>Make sure:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the file is in the right format</li>
      <li>there are no errors in the file formatting (for example, a missed comma)</li>
    </ul>

    <p><a href="/start">Try again</a></p>
  </div>
</div>
</div>

{% endblock %}