{% extends "layouts/main.html" %}

{% set pageName = 'There was an error retrieving your endpoint' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p>The service could not access the URL you provided. The request gave the following error:</p>

    <ul class="govuk-list">
      <li>
        Error code: 404
      </li>
      <li>
        Error message: File not found
      </li>
    </ul>

    <p>Please check the URL and <a href="/start">try again</a>.</p>
  </div>
</div>
</div>

{% endblock %}