{% extends "layouts/main.html" %}

{% set pageName = 'Check details and send a request to publish your data' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Your email address"
            },
            value: {
              text: data.check.emailAddress
            },
            actions: {
              items: [
                {
                  href: "/email-address",
                  text: "Change",
                  visuallyHiddenText: "Your email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Your name"
            },
            value: {
              text: data.check.firstName + ' ' + data.check.lastName
            },
            actions: {
              items: [
                {
                  href: "/name",
                  text: "Change",
                  visuallyHiddenText: "Your name"
                }
              ]
            }
          },
          {
            key: {
              text: "Local planning authority"
            },
            value: {
              text: data.check.lpa
            },
            actions: {
              items: [
                {
                  href: "/name",
                  text: "Change",
                  visuallyHiddenText: "Local planning authority"
                }
              ]
            }
          },
          {
            key: {
              text: "URL where your data is published"
            },
            value: {
              text: data.check.url
            },
            actions: {
              items: [
                {
                  href: "/url",
                  text: "Change",
                  visuallyHiddenText: "URL"
                }
              ]
            }
          },
          {
            key: {
              text: "Date you published your data"
            },
            value: {
              text: data.check.startDate | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: "/start-date",
                  text: "Change",
                  visuallyHiddenText: "Date you published your data"
                }
              ]
            }
          }
        ]
      }) }}

      <form novalidate method="post">
        {{ govukButton({
          text: "Send request"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
