{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Colours</h1>

    <div class="app-tile app-tile--grey"></div>
    <div class="app-tile app-tile--green"></div>
    <div class="app-tile app-tile--light-green"></div>
    <div class="app-tile app-tile--turquoise"></div>
    <div class="app-tile app-tile--blue"></div>
    <div class="app-tile app-tile--light-blue"></div>
    <div class="app-tile app-tile--purple"></div>
    <div class="app-tile app-tile--light-purple"></div>
    <div class="app-tile app-tile--pink"></div>
    <div class="app-tile app-tile--red"></div>
    <div class="app-tile app-tile--orange"></div>
    <div class="app-tile app-tile--yellow"></div>
    <div class="app-tile app-tile--brown"></div>
  </div>
</div>

{% endblock %}
