{% extends "layouts/main.html" %}

{% set pageName = "Send your data for us to publish" %}

{% block content %}

{% set example %}

  ## About the data

  This dataset shows the locations of conservation areas. Conservation areas are designated to safeguard areas of special architectural and historic interest, the character and appearance of which it is desirable to preserve or enhance. Within these areas special planning controls operate which need to be considered when undertaking development.

  ## Data

  [Southwark conservations areas (CSV, 188KB)](#)

  ## Licensing

  The data is provided under the [Open Government Licence](#).

  ## Last updated

  The data was last updated on 14 July 2023 at 9am.

{% endset %}

{% set content %}
  You need to send an email to [digitalland@levellingup.gov.uk](mailto:digitalland@levellingup.gov.uk).

  The email must include:

  - your full name
  - the name of your local planning authority (LPA)
  - a link to a webpage containing the data on your LPA website

  The webpage must include:

  - the date the data was last updated
  - a summary of what the data is about
  - a link to your data, either as a file or as a live feed from your data tool
  - a statement that the data is provided under the Open Government Licence

  {{ govukDetails({
    summaryText: "Example webpage",
    text: example | govukMarkdown(headingsStartWith="m")
  }) }}

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {# {{ govukPanel({
      titleHtml: pageName
    }) }} #}
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    {{content | govukMarkdown(headingsStartWith="l")}}

    {# <p>We’ll send you an email once we publish the data. This usually happens within 5 working days.</p>

    <h2 class="govuk-heading-m">
      Give feedback
    </h2>

    <p><a href="#">Give feedback about this service</a> (takes 30 seconds).</p> #}

  </div>
</div>

{% endblock %}
