{% extends "layouts/main.html" %}

{% set pageName = 'Download your data before you continue' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <p>Your data has been corrected in the following ways:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Way 1
        </li>
        <li>
          Way 2
        </li>
        <li>
          Way 3
        </li>
      </ul>

      <p class="govuk-!-margin-bottom-6"><a href="#">Download data (CSV)</a></p>

      <p>After you have downloaded your data, you need to publish it on your website.</p>

      <form novalidate method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
