{% extends "layouts/main.html" %}

{% set pageName = 'Your data has been changed because it was not in the right format' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% set changedSiteReference %}
  {{ govukInsetText({
    classes: "app-inset-text---changed",
    html: '<p class="app-instruction-text">Reference is missing</p>'
  }) }}
{% endset %}

{% set changedLocation %}
  {{ govukInsetText({
    classes: "app-inset-text---changed",
    html: '<p class="app-inset-text__value">456 Elm St, Town, Country</p> <p class="app-inset-text__changed">Location is not in England</p>'
  }) }}
{% endset %}

{% set changedDate %}
  {{ govukInsetText({
    classes: "app-inset-text---changed",
    html: '<p class="app-inset-text__value">20 May 2025</p> <p class="app-inset-text__error">Date must be in today or in the past</p>'
  }) }}
{% endset %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <p>Here’s what’s changed:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          274 dates have been converted into the YYYY-MM-DD format
        </li>
        <li>
          27 areas have been corrected
        </li>
        <li>57 rows have been removed</li>
      </ul>

    </div>
  </div>

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">
        Records that have been changed
      </h2>

       <div class="app-scrollable-container">
        {{ govukTable({
          head: [
            {
              text: "Row Number",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Site reference"
            },
            {
              text: "Site name"
            },
            {
              text: "GeoX"
            },
            {
              text: "GeoY"
            },
            {
              text: "Hectares"
            },
            {
              text: "Updated date"
            },
            {
              text: "Created date"
            },
            {
              text: "Organisation URI"
            },
            {
              text: "Site plan"
            }
          ],
          rows: [
            [
              {
                html: "1"
              },
              {
                html: "AB1234"
              },
              {
                html: "123 Main St, City, Country"
              },
              {
                html: "42.123456"
              },
              {
                html: "-71.987654"
              },
              {
                html: "3.5"
              },
              {
                html: "19 September 2023"
              },
              {
                html: "19 September 2023"
              },
              {
                html: "http://example.com/org1"
              },
              {
                html: "http://example.com/siteplan1"
              }
            ],
            [
              {
                html: "2"
              },
              {
                html: "ABCDEF"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "3"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "4"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "5"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "4 September 2022"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "6"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "7"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "8"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "9"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "10"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "11"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ]
          ]
        }) }}

      </div>

      <h2 class="govuk-heading-m">
        Records that will be removed
      </h2>

      <div class="app-scrollable-container">
        {{ govukTable({
          head: [
            {
              text: "Row Number",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Site reference"
            },
            {
              text: "Site name"
            },
            {
              text: "GeoX"
            },
            {
              text: "GeoY"
            },
            {
              text: "Hectares"
            },
            {
              text: "Updated date"
            },
            {
              text: "Created date"
            },
            {
              text: "Organisation URI"
            },
            {
              text: "Site plan"
            }
          ],
          rows: [
            [
              {
                html: "1"
              },
              {
                html: "AB1234"
              },
              {
                html: "123 Main St, City, Country"
              },
              {
                html: "42.123456"
              },
              {
                html: "-71.987654"
              },
              {
                html: "3.5"
              },
              {
                html: "19 September 2023"
              },
              {
                html: "19 September 2023"
              },
              {
                html: "http://example.com/org1"
              },
              {
                html: "http://example.com/siteplan1"
              }
            ],
            [
              {
                html: "2"
              },
              {
                html: "ABCDEF"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "3"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "4"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "5"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "4 September 2022"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "6"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "7"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "8"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "9"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "10"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ],
            [
              {
                html: "11"
              },
              {
                html: "CD5678"
              },
              {
                html: "456 Elm St, Town, Country"
              },
              {
                html: "38.987654"
              },
              {
                html: "-84.123456"
              },
              {
                html: "2.2"
              },
              {
                html: "20 September 2023"
              },
              {
                html: "18 September 2023"
              },
              {
                html: "http://example.com/org2"
              },
              {
                html: "http://example.com/siteplan2"
              }
            ]
          ]
        }) }}

      </div>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Download data
      </h2>

      <p>You can download the data to make changes and publish it on your website.</p>

      <p class="govuk-!-margin-bottom-6"><a href="#">Download data (CSV)</a></p>


      <form novalidate method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
