{% extends "layouts/main.html" %}

{% set pageName = 'Your data has passed our checks and can be published' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Map</h2>
      <div id="map" class="app-map"></div>

      <h2 class="govuk-heading-m">Raw data</h2>

      <div class="app-scrollable-container" s>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">refnum</th>
              <th scope="col" class="govuk-table__header">address</th>
              <th scope="col" class="govuk-table__header">wkt</th>
              <th scope="col" class="govuk-table__header">start_date</th>
              <th scope="col" class="govuk-table__header">notes</th>
              {# <th scope="col" class="govuk-table__header">point</th> #}
              {# <th scope="col" class="govuk-table__header">End date</th> #}
              <th scope="col" class="govuk-table__header">document_url</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for row in rows %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {{row.Reference.value}}
                </td>
                <td class="govuk-table__cell">{{row.Name.value}}</td>
                <td class="govuk-table__cell app-wrap">
                  {% if row.Geometry.error %}
                    {{ govukInsetText({
                      classes: "app-inset-text---error",
                      html: '<p class="app-inset-text__value">'+row.Geometry.value+'</p> <p class="app-inset-text__error">'+row.Geometry.error +'</p>'
                    }) }}
                  {% else %}
                    {{row.Geometry.value}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {# {% if row['Start date'].error %}
                    {{ govukInsetText({
                      classes: "app-inset-text---error",
                      html: '<p class="app-inset-text__value">'+row['Start date'].value+'</p> <p class="app-inset-text__error">'+row['Start date'].error +'</p>'
                    }) }}
                  {% else %} #}
                    {{row['Start date'].value}}
                  {# {% endif %} #}
                </td>
                {# <td class="govuk-table__cell">{{row.Legisliation.value}}</td> #}
                <td class="govuk-table__cell">{{row.Notes.value}}</td>
                {# <td class="govuk-table__cell app-wrap">{{row.Point.value}}</td> #}
                {# <td class="govuk-table__cell">{{row['End date'].value}}</td> #}
                <td class="govuk-table__cell">{{row['Document URL'].value}}</td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

     {{ govukButton({
        text: "Continue",
        href: "/confirmation"
      }) }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    var map = new maplibregl.Map({
        container: 'map', // container id
        style: 'https://api.maptiler.com/maps/basic-v2/style.json?key=ncAXR9XEn7JgHBLguAUw', // style URL
        center: [-0.15778393023663284, 51.54490132506487], // starting position [lng, lat]
        zoom: 11 // starting zoom
    })

    const camdenData = {{ camden | safe}}

    const addPolygon = (map, geometry) => {
        map.addSource(geometry.Name, {
            'type': 'geojson',
            'data': {
              'type': 'Feature',
              'geometry': {
                type: 'Polygon',
                coordinates: [
                  geometry.Geometry
                ]
              },
              'properties': {
                'entity': geometry.entity,
                'name': geometry.Name,
              }
            },
        })

        let layer = map.addLayer({
          id: geometry.Name,
          source: geometry.Name,
          type: 'fill',
          layout: {},
          paint: {
            'fill-color': '#28a197',
          },
        });
    }

    const addCamdenDataToMap = (map) => {
        camdenData.forEach((geometry) => {
            addPolygon(map, geometry);
        });
    }


    map.on('load', () => {
      addCamdenDataToMap(map)
    })
  </script>
{% endblock %}
