{% extends "layouts/main.html" %}

{% set pageName = 'Your data has passed our checks and can be published' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
    {{pageName}}
  </h1>

  <p>Here’s a preview of how your data will show on a map:</p>

  <div id="map" class="app-map"></div>

  {{ govukButton({
    text: "Continue",
    href: "/confirmation"
  }) }}
    </div>
  </div>




  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    var map = new maplibregl.Map({
        container: 'map', // container id
        style: 'https://demotiles.maplibre.org/style.json', // style URL
        center: [0, 0], // starting position [lng, lat]
        zoom: 1 // starting zoom
    })
  </script>
{% endblock %}
