{% extends "layouts/main.html" %}

{% set pageName = 'You cannot continue until you have published your data' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% set example %}

  ## About the data

  This dataset shows the locations of conservation areas. Conservation areas are designated to safeguard areas of special architectural and historic interest, the character and appearance of which it is desirable to preserve or enhance. Within these areas special planning controls operate which need to be considered when undertaking development.

  ## Data

  [Southwark conservations areas (CSV, 188KB)](#)

  ## Licensing

  The data is provided under the [Open Government Licence](#).

  ## Last updated

  The data was last updated on 14 July 2023 at 9am.

{% endset %}

{% set content %}

  We’ve changed some of your data to meet the standards.

  [Download your data](#)

  ## Publishing your data on your website

  You must be able to create or edit a webpage on your local planning authority’s (LPA) website. This will probably have a URL ending in .gov.uk or .org.

  If you’re not able to do this, you’ll need to ask the person who updates your website.

  The webpage needs to include:

  - a summary of what the data is about
  - a confirmation that the data is provided under the Open Government License
  - the date you created or updated the webpage
  - links to your data on this page, for example a CSV

  {{ govukDetails({
    summaryText: "Example webpage",
    text: example | govukMarkdown(headingsStartWith="m")
  }) }}

  This webpage URL must not change, so we can keep collecting the data. If the URL does change, send an email to [digitalland@levellingup.gov.uk](mailto:digitalland@levellingup.gov.uk).



{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>
      {{content | govukMarkdown(headingsStartWith="l")}}
    </div>
  </div>
{% endblock %}
