{% extends "layouts/main.html" %}

{% set pageName = 'Your data will be changed into a new format when we publish it' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <p>Here’s what we’ll change:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          20 dates will be converted into the YYYY-MM-DD format
        </li>
        <li>
          20 geometries will be corrected so that it’s within England (by flipping the x and y coordinates)
        </li>
        {# <li>57 rows have been removed</li> #}
        <li>
          Column headings with more than one word will be combined and split with hyphens
        </li>
        <li>
          Some columns will be ignored because they’re not needed
        </li>
      </ul>

    </div>
  </div>

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">
        Records that will be changed
      </h2>

       <div class="app-scrollable-container">
        <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Geometry</th>
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">Legislation</th>
            <th scope="col" class="govuk-table__header">Notes</th>
            <th scope="col" class="govuk-table__header">Point</th>
            <th scope="col" class="govuk-table__header">End date</th>
            <th scope="col" class="govuk-table__header">Document URL</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for row in rows %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {{row.Reference.value}}
              </td>
              <td class="govuk-table__cell">{{row.Name.value}}</td>
              <td class="govuk-table__cell app-wrap">
                {% if row.Geometry %}
                  {{ govukInsetText({
                    classes: "app-inset-text---warning",
                    html: '<p class="app-inset-text__value">'+row.Geometry.value+'</p> <p class="app-inset-text__warning">X and Y coordinates reversed to make it be in England</p>'
                  }) }}
                {% else %}
                  {{row.Geometry.value}}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                {% if row['Start date'].error %}
                  {{ govukInsetText({
                    classes: "app-inset-text---error",
                    html: '<p class="app-inset-text__value">'+row['Start date'].value+'</p> <p class="app-inset-text__error">'+row['Start date'].error +'</p>'
                  }) }}
                {% else %}
                  {{row['Start date'].value}}
                {% endif %}
              </td>
              <td class="govuk-table__cell">{{row.Legisliation.value}}</td>
              <td class="govuk-table__cell">{{row.Notes.value}}</td>
              <td class="govuk-table__cell app-wrap">{{row.Point.value}}</td>
              <td class="govuk-table__cell">{{row['End date'].value}}</td>
              <td class="govuk-table__cell">{{row['Document URL'].value}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      </div>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form novalidate method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
