{% extends "layouts/main.html" %}

{% set pageName = 'Upload your ' + data.check.dataset | lower %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form novalidate method="post">
        {{ govukFileUpload({
          id: "check[file]",
          name: "check[file]",
          label: {
            text: pageName,
            isPageHeading: true,
            classes: 'govuk-label--l'
          },
          hint: {
            text: "Must be smaller than 50MB"
          }
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
